.App {
  text-align: center;
}

form {
  display: grid;
  width: 360px;
  height: 500px;
}
form h1 {
  margin: 10px 0;
  height: 10px;
}
h2 {
  margin: 10px;
}
.error {
  display: flex;
  color: red;
  margin: 5px auto;
  text-align: center;
}

.formCard {
  background: #545454;
  color: white;
  margin:10px auto;
  border: 2px solid grey;
}
input,
label {
  width: 160px;
  height: 20px;
  text-align: center;
  margin: auto;
}
select {
  width: 168px;
  height: 30px;
  text-align: center;
  margin: auto;
}
ul {
  display: flex;
}
li {
  display: block;
  border: 2px solid grey;
  max-width: 200px;
  margin: 5px;
  padding: 10px;
}
input[type="submit"] {
  width: 80px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #1f6191;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
