.App {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
  text-align: center;
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.flex {
  display: flex;
  margin: auto;
}

form {
  display: grid;
  width: 360px;
  height: 500px;
}
form h1 {
  margin: 10px 0;
  height: 10px;
}
h2 {
  margin: 10px;
}
.grid {
  display: grid;
}
.error {
  display: flex;
  font-size: 14px;
  color: red;
  margin: 0 auto;
  text-align: center;
}

.formCard {
  min-width: 400px;
  background: #545454;
  color: #ffffff;
}
input,
label {
  width: 160px;
  height: 20px;
  text-align: center;
  margin: auto;
}
select {
  width: 168px;
  height: 30px;
  text-align: center;
}
ul {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

li {
  display: block;
  background: #a18a8a;
  max-width: 450px;
  height: 200px;
  padding: 10px;
  width: 250px;
}
.buttonsGroup {
  width: 830px;
  text-align: center;
  justify-content: center;
  margin: 20px auto 0 auto;
}
.details {
  text-justify: left;
  text-align: left;
}
input[type="submit"] {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #29343c;
}
button {
  width: 168px;
  height: 30px;
}
.removeButton {
  width: 20px;
  color: #ff0000;
  background: none;
  border: none;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-size: 30px;
}
.calendar {
  border: 2px solid #000000;
  border-radius: 10px;
  color: #000000;
}
.calendar,
.data-button {
  position: absolute;
  top: 50%;
  right: 50%;
}
.data-button {
  width: 30px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
.hide {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .flex {
    display: grid;
  }
  ul {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  li {
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .formCard {
    margin: 20px auto;
  }
  .buttonsGroup {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
}
